OptomoMedicalDevice/.vs/OptomoMedicalDevice/FileContentIndex/27ee4ac2-f77b-4f50-9b2c-e20486026c5a.vsidx
OptomoMedicalDevice/.vs/OptomoMedicalDevice/FileContentIndex/34e4317d-2426-4bf8-ab53-9bf6334ba13e.vsidx
OptomoMedicalDevice/.vs/OptomoMedicalDevice/FileContentIndex/aabc128d-4a66-40a6-99e7-9009f0feb925.vsidx
OptomoMedicalDevice/.vs/OptomoMedicalDevice/FileContentIndex/ad172b6f-5511-4fc1-a59d-152756760509.vsidx
OptomoMedicalDevice/.vs/OptomoMedicalDevice/FileContentIndex/f431dc73-820c-489c-9140-c775b8cb3bfa.vsidx
git rm --cached OptomoMedicalDevice/.vs/OptomoMedicalDevice/v17/.suo
git rm --cached OptomoMedicalDevice/obj/Debug/DesignTimeResolveAssemblyReferences.cache
git rm --cached OptomoMedicalDevice/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
git rm --cached OptomoMedicalDevice/OptomoMedicalDevice.csproj.user
.vs
*.suo
**/obj/
**/bin/
*.cache